<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="" method="POST">
        <label for="firstname">First Name:</label>
        <input id="firstname" type="text" placeholder="First Name" required>
        <label for="lastname">Last Name:</label>
        <input id="lastname" type="text" placeholder="Last Name" required>
        <label for="username">Username:</label>
        <input id="username" type="text" placeholder="Username" required>
        <label for="password">Password:</label>
        <input id="password" type="password" required>
        <label for="confirm">Confirm Password:</label>
        <input id="confirm" type="password" required>
        <label for="email">Email:</label>
        <input id="email" type="email" required>
        <label for="age">Age:</label>
        <input id="age" type="text" required>
        <label for="contact_number">Contact Number:</label>
        <input id="contact_number" type="text" required>
        <label for="job_title">Job Title:</label>
        <input id="job_title" type="text" required>
    </form>
</body>
</html>